<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Trang chủ' }) %>
    <link rel="stylesheet" href="/css/pages/user/home.css">
</head>
<body>
  <%- include('../../partials/header') %>

  <%- include('../../partials/footer') %>
  <%- include('partials/script') %>
  <script src="/js/user/home.js"></script>
</body>
</html>