<footer class="bg-dark text-white">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h5>Về chúng tôi</h5>
                <p>Website quản lý sổ đầu bài cung cấp một giải pháp tối ưu cho các giáo viên trong việc lập kế
                    hoạch, theo dõi và cập nhật các bài giảng một cách dễ dàng và hiệu quả. </p>
            </div>
            <div class="col-md-3 ms-5">
                <h5>Trang</h5>
                <ul class="nav flex-column ms-0">
                    <li class="nav-item mb-2"><a href="/home" class="text-white">Trang chủ</a></li>
                    <li class="nav-item mb-2"><a href="/home" class="text-white">Tính năng</a></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-4">
                <h5>Liên hệ</h5>
                <p>Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh</p>
                <p>info@uit.edu.vn</p>
                <p>028 3725 2002</p>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Notebook Dominators
    </div>
</footer>