<header class="d-flex py-1 shadow">
    <ul class="nav nav-pills w-100">
        <li class="nav-item">
            <a href="/home" class="" aria-current="page">
                <img src="/images/logo.png" alt="logo" class="img-fluid" width="110" height="110">
            </a>
        </li>
        <div class="d-flex justify-content-center" style="width: 1200px;">
            <li class="nav-item mx-3"><a href="/home" class="nav-link" aria-current="page">Trang chủ</a></li>
            <li class="nav-item mx-3 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Tính năng
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/attendance">Sổ đầu bài</a></li>
                    <li><a class="dropdown-item" href="/attendance">Điểm danh</a></li>
                    <li><a class="dropdown-item" href="#tro-choi">Trò chơi</a></li>
                </ul>
            </li>
        </div>
        <li class="nav-item mx-3 dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ti ti-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#change-password">Đổi mật khẩu</a></li>
                <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
            </ul>
        </li>

    </ul>
</header>