<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Create Role</title>
  </head>
  <body>
    <h2>Create new Role</h2>
    <form action="/role" method="post">
      <label for="roleName">roleName</label>
      <input type="text" id="name" name="name" />
      <br />
      <br />
      <label for="active">isActive</label>
      <input type="text" id="is_acive" name="is_active" />
      <button type="submit">Save</button>
    </form>
    <br />
    <a href="/role">back</a>
    <br />
  </body>
</html>
