<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Edit Role - <%= role.name %></title>
  </head>
  <body>
    <h2>Edit Role</h2>
    <form action="/role/<%= role.id %>" method="post">
      <input name="_method" type="hidden" value="put" />
      <label for="title">Role name</label>
      <input type="text" id="name" name="name" value="<%= role.name %>" />
      <br />
      <br />
      <input
        type="text"
        id="is_active"
        name="is_active"
        value="<%= role.is_active %>"
      />
      <br /><br />
      <br />
      <button type="submit">Update</button>
    </form>
    <br />
    <a href="/role">back</a>
    <br />
  </body>
</html>
